.button__btn {
  border-radius: 0;
  border: 0;
}

.button__btn--disabled {
}

.button__btn--default {
  font-size: var(--font-size-medium-1);
  font-weight: bold;
  color: #4a90e2;
  padding: 10px 40px;
}

.button__btn--default:hover,
.button__btn--default:focus,
.button__btn--default:active:focus {
  background-color: var(--color-white-1);
  color: #4a90e2 !important;
  outline: none;
  box-shadow: none;
}

.button__btn--primary {
  font-size: var(--font-size-medium-1);
  font-weight: bold;
  color: #fff;
  padding: 10px 40px;
  background-color: var(--color-blue-1);
}

.button__btn--primary:hover,
.button__btn--primary:focus,
.button__btn--primary:active:focus {
  background-color: var(--color-blue-1);
  color: #fff !important;
  outline: none;
  box-shadow: none;
}

.button__btn--primary.button__btn--disabled:hover {
  background-color: var(--color-blue-1);
}
