.data-table {
  width: 100%;
  padding: 0 75px 0 55px;
  margin-bottom: 65px;
}

.data-table__content {
  border-collapse: separate;
  border-spacing: 5px 15px;
  width: 100%;
}

.data-table-row__cell {
  background-color: #fff;
  text-align: center;
  height: 60px;
}

.data-table-row__cell--for-text {
  padding: 0 10px;
  line-height: 60px;
}

.data-table-row__cell--for-icons {
  background: none;
  width: 15px;
}

.data-table-row__cell--id {
  color: rgba(34, 34, 34, 0.5);
  width: 5%;
}

.data-table-row__cell--for-input {
  min-width: 120px;
}

.data-table-row__cell--white-text {
  color: #fff;
}

.data-table-row__cell--category {
  min-width: 100px;
}

.data-table-row__cell--tag {
  min-width: 100px;
}

.data-table-row__cell--white-text .Select-arrow {
  border-color: #fff transparent transparent;
}

.data-table-row__insight-icon {
  height: 25px;
}

.data-table-row__group-cell {
  padding: 10px 20px;
  text-align: left;
  border: 0;
  border-radius: 0;
  height: 100%;
  width: 100%;
  font-weight: inherit;
  background: none !important;
  box-shadow: none !important;
  color: inherit !important;
}

.data-table-row__caret-icon {
  float: right;
}

@media only screen and (max-width: 730px) {
  .data-table {
    display: block;
    padding: 0 15px 0 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: visible;
    height: 100%;
    margin-bottom: 65px;
  }

  .data-table__content {
    padding-bottom: 30px;
  }
}
