.data-table-input {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: none;
  color: inherit;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.data-table-input,
.data-table-input:hover,
.data-table-input:focus,
.data-table-input:active {
  outline: 0;
  outline-offset: 0;
  border: 0;
  box-shadow: none;
  padding: 0 10px;
}
