.data-table-dropdown__button {
  border: 0;
  border-radius: 0;
  height: 100%;
  width: 100%;
  font-weight: inherit;
  background: none !important;
  box-shadow: none !important;
  color: inherit !important;
}

.data-table-dropdown__menu-item {
  text-align: center;
  height: 35px;
}

.dropdown-menu .data-table-dropdown__menu-item a {
  height: 100%;
  line-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-table-dropdown__menu-item a:focus {
  outline: none;
}

.data-table-dropdown__caret-icon {
  float: right;
}

.data-table-row__select--colored-category .Select-value-label {
  color: #fff !important;
}

.table-row-dropdown-select .Select-value-label {
  color: #fff !important;
  line-height: 46px;
  text-align: center;
  padding: 0;
}

.table-row-dropdown-select .Select-arrow {
  border-color: #fff transparent transparent;
}

.table-row-dropdown-select .Select-control {
  color: #fff !important;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 0;
  border: none;
  box-shadow: none;
  width: 200px;
  height: 46px;
  cursor: pointer;
  background-color: var(--color-blue-1) !important;
}

@media only screen and (max-width: 1000px) {
  .dropdown-menu .data-table-dropdown__menu-item a {
    padding: 3px 5px;
  }
}

.table-row-dropdown-select
  > .Select-control
  > .Select-multi-value-wrapper
  > .Select-placeholder {
  color: #fff !important;
  font-weight: bold;
  font-size: var(--font-size-medium-2);
  line-height: 46px;
  text-align: center;
}

.data-table-row__select
  > .Select-control
  > .Select-multi-value-wrapper
  > .Select-placeholder {
  line-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2px;
}
