.pika-single.is-hidden {
  display: none;
}

.custom-datepicker__dpk-input {
  font-size: var(--font-size-small);
  height: 20px;
  display: inline-block;
  width: 100px;
}

.custom-datepicker__dpk-label {
  line-height: 20px;
  padding-right: 10px;
}

.custom-datepicker__dpk-wrapper {
  margin: 0;
}
