.header-wrapper {
  background-color: var(--bgcolor-default);
  height: 100%;
  overflow: auto;
}

.header-wrapper__header {
  display: flex;
  justify-content: space-between;
  padding: 8px 50px;
}

.header-wrapper__user-name {
  font-size: var(--font-size-medium-2);
  font-weight: bold;
  margin-bottom: 0;
}

.header-wrapper__header .header-wrapper__menu-icon-wrapper {
  z-index: 1;
}

.header-wrapper__header .header-wrapper__menu-icon {
  width: 1.3rem;
  height: 1.3rem;
  color: #26394d;
  cursor: pointer;
  margin: 3px;
}
