.insights-tools__search-panel {
  display: flex;
  padding: 0 80px;
}

@media only screen and (max-width: 720px) {
  .insights-tools__search-panel {
    padding: 0 3%;
  }
}

@media only screen and (max-width: 600px) {
  .insights-tools__search-panel {
    padding: 0 15px;
  }
}
