.insights-tools__search-panel {
  display: flex;
  padding: 0 81px 0 79px;
}

@media only screen and (max-width: 730px) {
  .insights-tools__search-panel {
    padding: 0 3%;
  }
}

@media only screen and (max-width: 600px) {
  .insights-tools__search-panel {
    padding: 0 15px;
  }
}
