.left-sidebar {
  background-color: var(--bgcolor-default);
  min-width: var(--width-sidebar);
  width: var(--width-sidebar);
  height: 100%;
  overflow: auto;
}

.left-sidebar__logo--border {
  border-bottom: 3px solid #ffffff;
  text-align: center;
}

.left-sidebar__logo--align {
  padding: 15px;
}

.left-sidebar__thunder-icon {
  padding-left: 5px;
  padding-right: 10px;
}

.left-sidebar__insight-title {
  display: flex;
  align-items: center;
  font-size: var(--font-size-medium-1);
  font-weight: 900;
  color: #222;
  padding: 20px 10px;
}

.left-sidebar__category,
.left-sidebar__insight {
  color: #222;
}

.left-sidebar__category--disable-border {
  background-color: var(--bgcolor-default);
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

/*use nested selectors to overlap bootstrap styles*/
.panel-default > .panel-heading {
  background-color: var(--bgcolor-default);
}

.left-sidebar__category--underline a {
  text-decoration: none;
}

.left-sidebar__category--padding-heading {
  padding-left: 40px;
}

.left-sidebar__category--id,
.left-sidebar__insight--id {
  font-weight: 900;
}

.left-sidebar__category--title {
  display: flex;
}

.left-sidebar__category--visible-icon {
  display: none;
}

.left-sidebar__category--icon-align {
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  user-select: none;
}

.left-sidebar__category--background:hover
  .left-sidebar__category--visible-icon {
  display: flex;
}

.left-sidebar__insight--background:hover {
  background-color: #d5d5d5;
  cursor: pointer;
}

.left-sidebar__insight--visible-icon {
  display: none;
}

.left-sidebar__insight--background:hover .left-sidebar__insight--visible-icon {
  display: block;
}

.left-sidebar__insight--padding {
  padding: 2px 0 2px 60px;
}

.left-sidebar__insight--eye-icon {
  display: inline-flex;
  vertical-align: text-top;
  user-select: none;
}

.left-sidebar__insight--description {
  padding-right: 10px;
}
