.select-date-form {
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.select-date-form__input {
  display: inline-block;
  display: flex;
  position: relative;
}

.select-date-form__icon {
  position: absolute;
  right: 4px;
  top: 2px;
  pointer-events: none;
}

.select-date-form__update {
  position: absolute;
  right: 60px;
  top: 0;
  font-size: 12px;
  color: #222222;
}

@media (max-width: 1000px) {
  .select-date-form {
    justify-content: start;
  }
}
