.tags-sections {
  display: flex;
  margin-left: 57px;
  min-height: 40px;
  font-size: var(--font-size-medium-1);
  font-weight: 900;
}

.tags-sections__item {
  background-color: var(--bgcolor-default);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  border-right: 2px solid #fff;
}
