.tags-sections {
  display: flex;
  margin-left: 35px;
  min-height: 35px;
}

.tags-sections__item {
  background-color: var(--bgcolor-default);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-right: 2px solid #fff;
}
