.data-table {
  border-collapse: separate;
  border-spacing: 5px 15px;
  width: 100%;
  margin-bottom: 100px;
  padding: 0 75px 0 55px;
}

.data-table-row--is-new {
  color: rgba(34, 34, 34, 0.5);
}

.data-table-row__insight-icon {
  height: 25px;
}

.data-table-row__cell {
  background-color: #fff;
  text-align: center;
  height: 60px;
}

.data-table-row__cell--for-icons {
  background: none;
  width: 10px;
}

.data-table-row__cell--for-text {
  padding: 0 10px;
}

.data-table-row__cell--for-color-cell{
  color: #fff;
  font-weight: bold;
}
