.dropdown__button {
  color: #fff !important;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 10px 6px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  width: 200px;
}

/*use nested selectors to overlap bootstrap styles*/
.dropdown-menu {
  border-radius: 0;
  border: none;
  width: 100%;
  z-index: 9999;
}

.dropdown-menu .dropdown__menu-item a {
  padding: 10px 63px;
  color: #222;
  font-size: 1.3rem;
  text-align: center;
}

.dropdown__menu-item a:focus {
  outline: none;
}

.dropdown__caret-icon {
  display: none;  
}

.dropdown__button--default {
  background-color: #0070c0 !important;
}
