@import './variables/typography.css';
@import './variables/colors.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 14px;
  height: 100%;
  min-width: 700px;
}

.text-bold {
  font-weight: 900;
}

#root {
  height: 100%;
}

.disable-default-a-style,
.disable-default-a-style:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background: #0077cc;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0068b3;
}

::-webkit-scrollbar-thumb:active {
  background: #004a80;
}
