.left-sidebar {
  background-color: #f0f0f0;
  min-width: 255px;
  height: 100vh;
  overflow: auto;
}

.left-sidebar__logo {
  border-bottom: 3px solid #ffffff;
  text-align: center;
}

.left-sidebar__thunder-icon {
  padding-left: 5px;
  padding-right: 10px;
}

.left-sidebar__insight-title {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 900;
  color: #222;
  padding: 20px 10px;
}

.left-sidebar__category, .left-sidebar__insight {
  color: #222;
}

.left-sidebar__category--disable-border {
  background-color: #f0f0f0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

/*use nested selectors to overlap bootstrap styles*/
.panel-default > .panel-heading {
  background-color: #f0f0f0;
}

.left-sidebar__category--underline a {
  text-decoration: none;
}

.left-sidebar__category--padding-heading {
  padding-left: 40px;
}

.left-sidebar__category--id, .left-sidebar__insight--id {
  font-weight: 900;
}

.left-sidebar__insight--background:hover {
  background-color: #d5d5d5;
  cursor: pointer;
}

.left-sidebar__insight--visible-icon {
  display: none;
}

.left-sidebar__insight--background:hover .left-sidebar__insight--visible-icon {
  display: block;
}

.left-sidebar__insight--padding {
  padding: 2px 0 2px 60px;
}

.left-sidebar__insight--align {
  display: flex;
}

.left-sidebar__insight--eye-icon {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
